<a href="https://colab.research.google.com/github/Ayush-Singh2309/Python2-Shivank/blob/main/05-Functional_Programming_2_Map%2C_Filter%2C_Reduce_notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Functional Programming 2 - Map, Filter, Reduce

---

## Content

1. Principles of Functional Programming
2. Map
3. Filter
4. Zip
5. Reduce
6. Args and Kwargs

---

## Principles of Functional Programming

<img src="https://d2beiqkhq929f0.cloudfront.net/public_assets/assets/000/016/063/original/Screenshot_2022-10-11_at_10.56.52_AM.png?1665466330">

Whenever we perform some mutations to an object, we lose the content that was previously stored in that object.

In [ ]:
x = 5 # Initial Data

# Hidden Mutations
x = 3*x
x += 1

# Problem - Can't rollback mutations

In [ ]:
x

16

One way is to create new object everytime we perform some mutation and store the result in that new object.

But it'll consume too much memory.

In [ ]:
x = 5

x1 = 2*x
x2 = x1 + 1

# Problem - Too many variables

Another valid approach would be to separate out the data and mutation operations.

In [ ]:
x = 5

def mutation_1(x):
    x = 2*x
    x += 1

    return x

x1 = mutation_1(x)

In [ ]:
x

5

---

## Map

The `map()` function can take multiple iterables and return a map object that can be converted to other iterables.

```python
map(function_to_perform, *iterables)
```

#### Given a list, create another list which contains the square of the elements of given list.

In [ ]:
a = [1,2,3,4,5]

In [ ]:
# Using list comprehension

res1 = [ i**2 for i in a ]
res1

[1, 4, 9, 16, 25]

In [ ]:
# Using map() function

m = map(lambda x: x**2, a)
m_list = list(m)
m_list

[1, 4, 9, 16, 25]

In [ ]:
m_direct = list(map(lambda x: x**2, a))
m_direct

[1, 4, 9, 16, 25]

#### Convert the given heights from a list into to t-shirt sizes.

* h < 150 $\rightarrow$ S
* h >= 150 and h < 180 $\rightarrow$ M
* h >= 180 $\rightarrow$ L

In [ ]:
heights = [144, 167, 189, 170, 190, 150, 165, 178, 200, 130]

In [ ]:
def complex_logic(height):
    if height < 150:
        return "S"
    elif height >= 150 and height < 180:
        return "M"
    elif height > 180:
        return "L"

In [ ]:
sizes = list(map(complex_logic, heights))
sizes

['S', 'M', 'L', 'M', 'L', 'M', 'M', 'M', 'L', 'S']

In [ ]:
sizes_2 = list(map(lambda x: "S" if x < 150 else "M" if x >= 150 and x < 180 else "L", heights))
sizes_2

['S', 'M', 'L', 'M', 'L', 'M', 'M', 'M', 'L', 'S']

#### Given two lists A and B having 1s and 0s, find another list with element at index `i` as `True` if `A[i] == B[i]` else False.

In [ ]:
A = [1,0,0,1,1,1,0,0,0,1,0,1]
B = [0,0,1,1,0,1,1,1,0,0,0,0]

# C = [True, True, False, ...]
# If both A and B have same element, then C=True; else C=False.

In [ ]:
C = list(map(lambda x, y: x==y, A, B))
C

[False, True, False, True, False, True, False, False, True, False, True, False]

---

## Filter

<img src="https://d2beiqkhq929f0.cloudfront.net/public_assets/assets/000/016/064/original/Screenshot_2022-10-11_at_11.14.51_AM.png?1665467068">

In [ ]:
a = list(range(1,11))

print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
f = filter(lambda x: x%2 == 0, a)

In [ ]:
f_list = list(f)

f_list

[2, 4, 6, 8, 10]

---

## Zip

In [ ]:
a = [1,2,3]
b = ["a", "b", "c", "d", "e"]

In [ ]:
result = list(zip(b,a))
result

[('a', 1), ('b', 2), ('c', 3)]

In [ ]:
a = [1,2,3]
b = ["a", "b", "c", "d", "e"]
c = ["x", "y", "z", "m", "n"]

In [ ]:
result = list(zip(c, b,a))
result

[('x', 'a', 1), ('y', 'b', 2), ('z', 'c', 3)]

---

## Reduce

<img src="https://d2beiqkhq929f0.cloudfront.net/public_assets/assets/000/016/065/original/Screenshot_2022-10-11_at_11.16.30_AM.png?1665467168">

<img src="https://d2beiqkhq929f0.cloudfront.net/public_assets/assets/000/016/066/original/Screenshot_2022-10-11_at_11.16.52_AM.png?1665467200">

In [ ]:
# This lines brings the reduce function into current code -

from functools import reduce

In [ ]:
a = [1,2,3,4,5]

In [ ]:
result = reduce(lambda x, y: x + y, a)
result

15

In [ ]:
a = list(range(1,11))
b = list(reversed(a))

In [ ]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
b

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
print(reduce(lambda x,y: x*y, a) == reduce(lambda x,y: x*y, b))

True

#### Gives the element with maximum value from a given list of elements.

In [ ]:
max_element = reduce(lambda x, y: x if x>y else y, a)
max_element

10

#### Perform cumulative summation on the given list starting from an initial value 100.

In [ ]:
a = list(range(1,11))

reduce(lambda x, y: x + y, a, 100)

155

---

## Quiz-1

### Question
Given the lists a = [1, 2, 3] and b = ["a", "b"], what will be the result of list(zip(a,b))?

### Choices

- [ ]  [(1, 'a'), (2, 'b'), (3, None)]
- [x]  [(1, 'a'), (2, 'b')]
- [ ]  [(1, 'a'), (2, 'b'), (3, 'c')]
- [ ]  Error

### Explanation

- The `zip` function pairs elements from multiple lists together based on their position.
- If the lists are of unequal length, **zip** stops creating pairs when the shortest list is exhausted.
- Here, since list `a` has 3 elements and list `b` has 2, only two pairs are formed.
- The extra element in list `a` is ignored.

---

## Args and Kwargs

#### Create a function that gives you the sum the input provided.

A good summation function -
- should take at least - 2 arguments
- should take at max - infinite arguments

In [ ]:
def summation(x, y):
    return x + y

In [ ]:
res = summation(6,7)
res

13

> args are stored inside a `tuple`. </br>
> kwargs are stored inside `dictionary` and these are keyword arguments.

In [ ]:
def summation(x, y, *args):
    result = x + y
    if args:
        result += sum(args)

    return result

In [ ]:
summation(5,6,7,8,9,10,11,12,13,14,15,16)

126

In [ ]:
def create_person(name, age, gender):
    Person = {
        "name": name,
        "age": age,
        "gender": gender
    }

    return Person

In [ ]:
create_person(name = "Rohit", age = 1500, gender = "Male")

{'name': 'Rohit', 'age': 1500, 'gender': 'Male'}

In [ ]:
def create_person(name, age, gender, **extra_info):
    Person = {
        "name": name,
        "age": age,
        "gender": gender
    }

    if extra_info:
        Person.update(extra_info)

    return Person

In [ ]:
create_person(name = "Rohit", age = 1500, gender = "Male", color = "blue", hobby = "chess")

{'name': 'Rohit',
 'age': 1500,
 'gender': 'Male',
 'color': 'blue',
 'hobby': 'chess'}

In [ ]:
def random(x, y, *args, **kwargs):
    print(x)
    print(args)
    print(kwargs)

In [ ]:
random(1,2,4,5,6,m=1,n=2,o=3,8,9,0)

SyntaxError: positional argument follows keyword argument (<ipython-input-42-b223e418580d>, line 1)

#### Order of passing arguments -

Positional -> Args -> Keyworded -> Kwargs

In [ ]:
random(2,1,2,3,z=1)

2
(2, 3)
{'z': 1}

In [ ]:
random(1,y=2)

1
()
{}

---

## Quiz-2

### Question

Consider the following function:

```
def sample_func(x, y, *args, **kwargs):
    return x, y, args, kwargs
```

What will be the output for the function call `sample_func(1, 2, 3, 4, a=5, b=6)`?

### Choices

- [x]  (1, 2, (3, 4), {"a": 5, "b": 6})
- [ ]  (1, 2, [3, 4], {"a": 5, "b": 6})
- [ ]  (1, 2, 3, 4, a=5, b=6)
- [ ] (1, 2, [3, 4], a=5, b=6)

**Correct Answer**: (1, 2, (3, 4), {"a": 5, "b": 6})

### Explanation

- The function `sample_func` is designed to capture both positional and keyword arguments beyond `x` and `y`.
- `*args` captures extra positional arguments and returns them as a tuple.
- In the given function call, after `x` and `y`, the numbers `3` and `4` are captured by `*args`, forming a tuple `(3, 4)`.
- `**kwargs` captures extra keyword arguments, returning them as a dictionary.
- The keyword arguments `a=5` and `b=6` are represented as the dictionary `{"a": 5, "b": 6}`.

---